<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>onerror</title>
</head>
<body>

<button onclick="test()">模拟错误</button>

<script type="text/javascript">

    /**
     * 在错误发生时运行的脚本
     * @param message 错误消息（字符串）
     * @param source 引发错误的脚本的URL（字符串）
     * @param lineno 发生错误的行号（数值）
     * @param colno 发生错误的行的列号（数值）
     * @param error 错误对象（对象）
     */
    window.onerror = function (message, source, lineno, colno, error) {
        console.log('在错误发生时运行的脚本')
        console.log('错误消息（字符串）', message)
        console.log('引发错误的脚本的URL（字符串）', source)
        console.log('发生错误的行号（数值）', lineno)
        console.log('发生错误的行的列号（数值）', colno)
        console.log('错误对象（对象）', error)
    }

</script>

</body>
</html>