<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh">
<head>
    <title>onhashchange</title>
</head>
<body>

<button onclick="location.hash=new Date().getTime()">文档 hash 内容改变</button>

<script type="text/javascript">

    window.onhashchange = function (e) {
        console.log('文档 hash 已改变时运行的脚本')
        console.log('原 URL', e.oldURL)
        console.log('新 URL', e.newURL)
        console.log(e)
    }

</script>

</body>
</html>